<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('ELT列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="menu-form">
					<div class="select-list">
						<ul>
							<li class="select-time">
								<label style="width:80px">时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								菜单状态：<select name="status" th:with="type=${@dict.getType('elt_success_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

            <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:user:export">
					<i class="fa fa-download"></i> 导出
				</a>
	        </div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
	    </div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<script th:inline="javascript">
		var prefix = ctx + "elt/record/approval";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        exportUrl: prefix + "/export",
		        modalName: "融资审批记录",
		        columns: [{
                    field: 'selectItem', 
                    radio: true
                 },
                 {
		            title: '操作名称',
		            field: 'api',
		            width: '40%'
		        },
                 {
		            title: '数据日期',
		            field: 'request',
		            width: '20%'
		        },
				{
					title: '是否成功',
					field: 'status',
					width: '10%',
					formatter: function(value, row, index) {
						if(value==0){
							return "成功";
						}else{
							return "失败";
						}
					}
				},
				{
					title: '请求时间(ms)',
					field: 'time',
					width: '20%'
				},
				{
					title: '花费时间',
					field: 'costtime',
					width: '20%'
				},
		        {
		            title: '操作',
		            width: '20%',
		            align: "left",
		            formatter: function(value, row, index) {
		            	var msg;
		            	if(row.status==0){
		            		msg = '<a class="btn btn-success btn-xs" href="javascript:void(0)" onclick="reExecute(\'' + row.id +'\')"><i class="fa fa-sign-out"></i>重新执行</a> ';
		            	}else{
		            		msg = '<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="reExecute(\'' + row.id +'\')"><i class="fa fa-sign-out"></i>重新执行</a> ';
		            	}
						return msg;
		            }
		        }]
		    };
		    $.table.init(options);
		});

		function reExecute(id){
			$.modal.loading("重新执行中，请稍后...");
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "elt/record/reexecute",
				data : {
					"id": id
				},
				async : true,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.modal.closeLoading();
					if(data.code == "0"){
						$.modal.alert("重新执行成功");
					}else{
						$.modal.alertError("重新执行失败");
					}
					$.table.refresh();
				}
			});
		}
	</script>
</body>
</html>