<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('ELT列表')" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="menu-form">
					<div class="select-list">
						<ul>
							<li class="select-time">
								<label style="width:80px">时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="日期" name="params[date]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>

            <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:user:export">
					<i class="fa fa-download"></i> 导出
				</a>
	        </div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table"></table>
			</div>
	    </div>
	</div>
	
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: layout-latest-js" />
	<script th:inline="javascript">

		$(function() {
		    var options = {
		        url: ctx + "elt/approval/zgswjgList",
		        exportUrl: ctx + "elt/approval/zgswjg/export",
		        modalName: "融资审批-主管税务机关",
		        columns: [{
                    checkbox: true
                 },
                 {
		            title: '主管税务局代码',
		            field: 'zgswjgdm',
		            width: '20%'
		        },
                 {
		            title: '产品代码',
		            field: 'cpdm',
		            width: '20%'
		        },
				{
					title: '授信户数',
					field: 'sxhs',
					width: '20%'
				},
				{
					title: '授信金额',
					field: 'sxje',
					width: '20%'
				},
				{
					title: '有贷户数',
					field: 'ydhs',
					width: '20%'
				},
				{
					title: '贷款余额',
					field: 'dkye',
					width: '20%'
				},
				{
					title: '贷款余额',
					field: 'ltbs',
					width: '20%'
				},
				{
					title: '累计投放金额',
					field: 'ltje',
					width: '20%'
				}]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>